@page "/profile/general"
@using SistemaTurnosOnline.Web.Extensions
@inherits PerfilGeneralBase
@attribute [Authorize(Roles = "Admin, Guest")]

<Animate Animation="Animations.Fade">
    <h3>General</h3>

    <div class="w-50 mx-auto">
        <EditForm Model=@Profesor OnValidSubmit="@UpdateProfesor_Click">
            <FluentValidationValidator />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Profesor.Dni" type=" number" class="form-control" id="dniInput" placeholder="1234" readonly />
                <label for="dniInput">DNI</label>
                <ValidationMessage For="@(() => Profesor.Dni)" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Profesor.Nombre" type="text" class="form-control" id="nombreInput" placeholder="name" />
                <label for="nombreInput">Nombre y Apellido</label>
                <ValidationMessage For="@(() => Profesor.Nombre)" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Profesor.Email" type="email" class="form-control" id="emailInput" placeholder="name@example.com" />
                <label for="emailInput">Direccion Email</label>
                <ValidationMessage For="@(() => Profesor.Email)" />
            </div>

            @if (Carreras == null)
            {
                <div class="d-flex align-items-center">
                    <div class="spinner-border text-primary mx-auto" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    @foreach (var carrera in CarrerasForm)
                    {
                        <div class="form-check">
                            @if (carrera.IsChecked)
                            {
                                <input class="form-check-input border-dark" type="checkbox" id="@carrera.Id" @onchange="() => Checkbox_Click(carrera.Id)" checked>
                            }
                            else
                            {
                                <input class="form-check-input border-dark" type="checkbox" id="@carrera.Id" @onchange="() => Checkbox_Click(carrera.Id)">
                            }
                            <label class="form-check-label" for="@carrera.Id">
                                @carrera.Nombre
                            </label>
                        </div>
                    }
                </div>
            }

            <button type="submit" class="btn btn-success float-end w-100 mb-5">
                Actualizar
            </button>

        </EditForm>

        <Toast Id="@Toast.Id" HeaderClass="@Toast.HeaderClass" Icon="@Toast.Icon" Title="@Toast.Title" Text="@Toast.Text" Time="@Toast.Time"></Toast>
    </div>
</Animate>

<!-- Modal -->
<div class="modal fade" id="@ActualizadoProfesorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updatedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatedModalLabel">Accion realizada con exito</h5>
            </div>
            <div class="modal-body">
                Se ha actualizado la cuenta exitosamente
            </div>
            <div class="modal-footer justify-content-center">
                <a @onclick="() => Navigate_Click()" data-bs-dismiss="modal" class="btn btn-success">Aceptar</a>
            </div>
        </div>
    </div>
</div>