@page "/profesor/activate"
@page "/profesor/activate/{id}"

@inherits AltaProfesorBase
@attribute [Authorize(Roles = "Admin")]

<div class="w-50 mx-auto">
    <div class="d-flex">
        <a href="/profesor/readinactive" class="p-0 text-light"><span class="oi oi-arrow-left"></span></a>
        <div class="ms-3">
            <h3><i class="fa-solid fa-check"></i> Activar usuario</h3>
            <p class="text-muted">#@Profesor.Id</p>
        </div>
    </div>

    <EditForm Model=@Profesor OnValidSubmit="@ActivateProfesor_Click">
        <FluentValidationValidator />

        <FloatingInputText @bind-Value="Profesor.Dni" Type="number"></FloatingInputText>

        <FloatingInputText @bind-Value="Profesor.Nombre" FieldName="Nombre y Apellido"></FloatingInputText>

        <FloatingInputText @bind-Value="Profesor.Email"></FloatingInputText>

        @if (Carreras == null)
        {
            <div class="d-flex align-items-center">
                <div class="spinner-border text-primary mx-auto" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <p class="mb-0 lh-1">Carrera</p>

            <small class="text-muted pt-0">Inscripto en:</small>

            <div class="form-check mb-2 mt-2">
                @foreach (var carrera in CarrerasForm)
                {
                    <div class="form-check">
                        @if (carrera.IsChecked)
                        {
                            <input class="form-check-input border-dark" type="checkbox" id="@carrera.Id" @onchange="() => Checkbox_Click(carrera.Id)" checked>
                        }
                        else
                        {
                            <input class="form-check-input border-dark" type="checkbox" id="@carrera.Id" @onchange="() => Checkbox_Click(carrera.Id)">
                        }
                        <label class="form-check-label" for="@carrera.Id">
                            @carrera.Nombre
                        </label>
                    </div>
                }
            </div>
        }

        <select class="form-select mb-3 bg-dark text-light border-dark" @bind="@SelectedRol" aria-label="select Rol">
            @foreach (var rol in userRoles)
            {
                <option value="@rol.ToRoleString()">@rol.ToRoleString()</option>
            }
        </select>
        

        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger w-50 me-5" data-bs-toggle="modal" data-bs-target="#@IrreversibleActionModal.Id">
                Rechazar
            </button>

            <button type="submit" class="btn btn-success w-50">
                Aprobar
            </button>
        </div>
    </EditForm>

    <ModalContainer Id="@IrreversibleActionModal.Id" Label="@IrreversibleActionModal.Label">
        <ModalHeaderCloseable Id="@IrreversibleActionModal.Label" Text="@IrreversibleActionModal.HeaderText"/>
        <DangerModalAlert Text="@IrreversibleActionModal.AlertText"/>
        <ModalBody>
            <div>
                Se eliminaran todos los datos relacionados a esta solicitud.
            </div>
            <div class="mt-2">
                Los datos no podran ser recuperados.
            </div>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal"
                    @onclick="() => DeleteProfesor_Click()">
                Rechazar solicitud de cuenta
            </button>
        </ModalFooter>
    </ModalContainer>

    <ModalContainer Id="@SelectedAdminPrivilegesModal.Id" Label="@SelectedAdminPrivilegesModal.Label">
        <ModalHeader Id="@SelectedAdminPrivilegesModal.Label" Text="@SelectedAdminPrivilegesModal.HeaderText" />
        <WarningModalAlert Text="@IrreversibleActionModal.AlertText" />
        <ModalBody>
            <div>
                En primer lugar, como administrador, el usuario tendrá acceso a información y
                configuraciones sensibles, por lo que es crucial que mantenga la seguridad y
                proteja la información confidencial.
            </div>
            <div class="mt-2">
                Además, como administrador, el usuario será responsable de la gestión y
                supervisión de los demás usuarios y de los sistemas y recursos de la
                organización.
            </div>
            <div class="mt-2">
                Asimismo, el usuario tendrá el poder para editar y eliminar
                cuentas de usuario. Esto significa que puede agregar o quitar el acceso de
                otros usuarios al sistema, incluyendo la capacidad de eliminar cuentas de
                usuario completamente.
            </div>
            <div class="mt-2">
                Es importante que el usuario entienda que estas capacidades tienen un gran
                impacto en el funcionamiento del sistema y en la seguridad de la
                información. Por lo tanto, debe ser cuidadoso al realizar cambios y
                asegurarse de que los usuarios adecuados tengan acceso a la información
                correcta.
            </div>
        </ModalBody>
        <ModalFooter>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                    @onclick='(() => SelectedRol = userRoles.FindUserRole(UserRole.Guest))'>
                Cancelar
            </button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                Aceptar
            </button>
        </ModalFooter>
    </ModalContainer>

    <ModalContainer Id="@RejectedUserModal.Id" Label="@RejectedUserModal.Label">
        <ModalHeader Id="@RejectedUserModal.Label" Text="@RejectedUserModal.HeaderText" />
        <SuccessModalAlert Text="@RejectedUserModal.AlertText" />
        <ModalBody>
            Se ha rechazado la solicitud de cuenta exitosamente
        </ModalBody>
        <ModalFooter>
            <a @onclick="() => Navigate_Click()" data-bs-dismiss="modal" class="btn btn-success">Aceptar</a>
        </ModalFooter>
    </ModalContainer>

    <ModalContainer Id="@ApprovedUserModal.Id" Label="@ApprovedUserModal.Label">
        <ModalHeader Id="@ApprovedUserModal.Label" Text="@ApprovedUserModal.HeaderText" />
        <SuccessModalAlert Text="@ApprovedUserModal.AlertText" />
        <ModalBody>
            Se ha aprobado la solicitud de cuenta exitosamente
        </ModalBody>
        <ModalFooter>
            <a @onclick="() => Navigate_Click()" data-bs-dismiss="modal" class="btn btn-success">Aceptar</a>
        </ModalFooter>
    </ModalContainer>
</div>