@page "/sign-up"
@inherits CrearProfesorBase

<Animate Animation="Animations.Fade">
    <div class="w-50 mx-auto">
        @if (UserId != null)
        {
            <AlreadySignedIn />
        }
        else
        {
            <EditForm Model=@ProfesorForm OnValidSubmit="@CreateProfesor_Click">
                <FluentValidationValidator />
                <h3 class="mb-3">Registrarse</h3>

                <FloatingInputText @bind-Value="ProfesorForm.Dni" FieldName="DNI" Type="number"></FloatingInputText>

                <FloatingInputText @bind-Value="ProfesorForm.Nombre" FieldName="Nombre y Apellido"></FloatingInputText>

                <FloatingInputText @bind-Value="ProfesorForm.Email"></FloatingInputText>

                <FloatingInputText @bind-Value="ProfesorForm.Password" FieldName="Contraseña" Type="password"></FloatingInputText>

                <FloatingInputText @bind-Value="ProfesorForm.PasswordConfirm" FieldName="Repetir contraseña" Type="password"></FloatingInputText>
                
                @if (Carreras == null)
                {
                    <div class="d-flex align-items-center">
                        <div class="spinner-border text-primary mx-auto" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        @foreach (var carrera in Carreras)
                        {
                            <div class="form-check">
                                <input class="form-check-input border-dark" type="checkbox" id="@carrera.Id" @onchange="() => Checkbox_Click(carrera.Id)">
                                <label class="form-check-label" for="@carrera.Id">
                                    @carrera.Nombre
                                </label>
                            </div>
                        }
                    </div>
                }

                <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-success mb-3 w-25">
                        Crear
                    </button>
                </div>

                <span>¿Ya tienes una cuenta?</span> <a href="/sign-in">Ingresa</a>

            </EditForm>
        }
    </div>

    <Toast Id="@Toast.Id" HeaderClass="@Toast.HeaderClass" Icon="@Toast.Icon" Title="@Toast.Title" Text="@Toast.Text" Time="@Toast.Time"></Toast>

</Animate>

<!-- Modal -->
<div class="modal fade" id="@CrearProfesorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CrearProfesorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearProfesorModalLabel">Accion realizada con exito</h5>
            </div>
            <div class="alert alert-success d-flex m-0 align-items-center" role="alert">
                <i class="me-2 fa-solid fa-circle-check"></i>
                <div class="text-light">
                    Solicitud enviada
                </div>
            </div>
            <div class="modal-body">
                <div>
                    Se ha enviado la solicitud de alta con exito.
                </div>
                <div class="mt-2">
                    Podra acceder a su cuenta una vez que sea verificada y aceptada.
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a @onclick="() => Navigate_Click()" data-bs-dismiss="modal" class="btn btn-success">Aceptar</a>
            </div>
        </div>
    </div>
</div>