@inherits NavMenuBase

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SistemaTurnosOnline.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <span class="text-light">Perfil</span>
        </div>

        @foreach (var tab in tabsPerfil)
        {
            <TabComponent _Class="@tab.Class" _Text="@tab.Text" _Href="@tab.Href"></TabComponent>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <span class="text-light">Profesores</span>
                </div>

                @foreach (var tab in tabsProfesor)
                {
                    <TabComponent _Class="@tab.Class" _Text="@tab.Text" _Href="@tab.Href"></TabComponent>
                }

                <div class="nav-item px-3">
                    <span class="text-light">Carreras</span>
                </div>

                @foreach (var tab in tabsCarreras)
                {
                    <TabComponent _Class="@tab.Class" _Text="@tab.Text" _Href="@tab.Href"></TabComponent>
                }
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <span class="text-light">Turnos</span>
        </div>

        @foreach (var tab in tabsTurnos)
        {
            <TabComponent _Class="@tab.Class" _Text="@tab.Text" _Href="@tab.Href"></TabComponent>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                @foreach (var tab in tabsTurnosAdmin)
                {
                    <TabComponent _Class="@tab.Class" _Text="@tab.Text" _Href="@tab.Href"></TabComponent>
                }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>