@page "/carrera/create"
@inherits CrearCarreraBase
@attribute [Authorize(Roles = "Admin")]

<div class="w-50 mx-auto">
    <h3>CrearCarrera</h3>

    <a href="/carrera/create" class="btn p-0 mb-3 text-light"><span class="oi oi-arrow-left"></span></a>

    <EditForm Model="@Carrera" OnValidSubmit="@CreateCarrera_Click">
        <FluentValidationValidator/>

        <div class="form-floating mb-3">

            <InputText @bind-Value="Carrera.Nombre" type="text" class="form-control" id="nombreInput" placeholder="nombre"/>
            <label for="nombreInput">Nombre</label>
            <ValidationMessage For="@(() => Carrera.Nombre)"/>

        </div>

        <ButtonSubmitWide Text="Crear"></ButtonSubmitWide>

    </EditForm>

    @foreach (var Toast in Toasts)
    {
        <Toast Id="@Toast.Id" HeaderClass="@Toast.HeaderClass"
               Class="@Toast.Class" Icon="@Toast.Icon" Title="@Toast.Title"
               Text="@Toast.Text" Time="@Toast.Time"></Toast>
    }
</div>