@page "/carrera/create"
@inherits CrearCarreraBase
@attribute [Authorize(Roles = "Admin")]

<Animate Animation="Animations.Fade">
    <div class="w-50 mx-auto">
        <div class="mb-3">
            <h3><i class="fa-solid fa-plus"></i> Agregar nueva carrera</h3>
        </div>

        <EditForm Model="@Carrera" OnValidSubmit="@CreateCarrera_Click">
            <FluentValidationValidator />

            <div class="form-floating mb-3">

                <InputText @bind-Value="Carrera.Nombre" type="text" class="form-control" id="nombreInput" placeholder="nombre" />
                <label for="nombreInput">Nombre</label>
                <ValidationMessage For="@(() => Carrera.Nombre)" />

            </div>

            <div class="form-floating mb-3">

                <InputText @bind-Value="Carrera.Codigo" type="number" class="form-control" id="codigoInput" placeholder="0000" />
                <label for="codigoInput">Codigo de carrera</label>
                <ValidationMessage For="@(() => Carrera.Codigo)" />

            </div>

            <ButtonSubmitWide Text="Crear"></ButtonSubmitWide>

        </EditForm>

        @foreach (var Toast in Toasts)
        {
            <Toast Id="@Toast.Id" HeaderClass="@Toast.HeaderClass"
               Icon="@Toast.Icon" Title="@Toast.Title"
               Text="@Toast.Text" Time="@Toast.Time"></Toast>
        }
    </div>
</Animate>