@page "/carrera/create"
@using SistemaTurnosOnline.Web.Components.ToastComponent.SuccessToast
@using SistemaTurnosOnline.Web.Components.ToastComponent.DangerToast
@inherits CrearCarreraBase
@attribute [Authorize(Roles = "Admin")]

<Animate Animation="Animations.Fade">
    <div class="w-50 mx-auto">
        <div class="mb-3">
            <h3><i class="fa-solid fa-plus"></i> Agregar nueva carrera</h3>
        </div>

        <EditForm Model="@Carrera" OnValidSubmit="@CreateCarrera_Click">

            <FluentValidationValidator />

            <FloatingInputText @bind-Value="Carrera.Nombre"></FloatingInputText>

            <FloatingInputText @bind-Value="Carrera.Codigo" Type="number"></FloatingInputText>

            <ButtonSubmitWide Text="Crear"></ButtonSubmitWide>

        </EditForm>

        <SuccessToast
            Id="@CreatedToast.Id"
            Text="@CreatedToast.Text"
            Title="@CreatedToast.Title"/>
    </div>
</Animate>